## Visitors into the US

1. What cities did they enter and by what means?
2. Why did the visit; Business, Pleasure, Education, or All?
3. What cities in the US are most racially diverse?

***Import Packages***

In [1]:
import pandas as pd
import os
import glob
import sql
import sql_queries
import psycopg2
import pandas as pd
import numpy as np
#from sql_queries import *
import datetime as dt
import json

In [2]:
from time import time
import configparser
import matplotlib.pyplot as plt
import psycopg2
from shapely.geometry import Point

In [3]:
# For Maps
import csv
from bs4 import BeautifulSoup
from IPython.display import SVG, display

import matplotlib.pyplot as plt
from matplotlib import rc
from matplotlib.pyplot import figure

import numpy as np

In [4]:
import pyspark
from pyspark import SparkConf
from pyspark.sql import SparkSession

from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, IntegerType, FloatType, TimestampType, LongType, DateType, NullType

import datetime #Required for ts conversion
#from pyspark.sql.functions import udf
#from pyspark.sql import functions as F

#import pyspark.sql.functions as F

#from pyspark.sql.functions import lit
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second

#from pyspark.sql.functions import *
from pyspark.sql.functions import udf, lit, datediff, when, col

***Reading AWS configuration file***

In [5]:
config = configparser.ConfigParser()
config.read_file(open('./config.cfg'))
KEY = config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')

DB_NAME = config.get("CLUSTER","DB_NAME")
DB_USER = config.get("CLUSTER","DB_USER")
DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DB_PORT = config.get("CLUSTER","DB_PORT")
HOST = config.get("CLUSTER", "HOST")
IAM_ROLE = config.get("IAM_ROLE","ARN")

In [6]:
import configparser
import psycopg2
import json
import sql_queries
import os

from importlib import reload
reload(sql_queries)
from sql_queries import schema_queries, insert_table_queries

import boto3

config = configparser.ConfigParser()
config.read('config.cfg')

os.environ['AWS_ACCESS_KEY_ID'] = config['AWS']['KEY']
os.environ['AWS_SECRET_ACCESS_KEY'] = config['AWS']['SECRET']


def make_copy_statement(table, data, cur):
    IAM_ROLE = 'arn:aws:iam::957808882659:role/myRedshiftRole25'
    copy_stmt = ("""
        COPY {} FROM {}
        IAM_ROLE '{}'
        TRUNCATECOLUMNS BLANKSASNULL EMPTYASNULL
        CSV 
        delimiter ',' 
        IGNOREHEADER 1
        COMPUPDATE OFF REGION 'us-west-2';
        """).format(table, data, IAM_ROLE)
    return copy_stmt

def load_staging_immigration_table(cur, conn, fname):
    """
    Load the data from the outputs to the staging table in Redshift
  
    Parameters: 
    arg1 : cursor connection object on redshift
    arg2 : connection object on the redshift
  
    Returns: 
    None
    """    

    """
    print('\r{:5}* {}'.format('',schema_queries[2]['message']))    
    cur.execute(schema_queries[2]['query'])
    
    for o in copy_table_queries:
        print('\r{:5}* {}'.format('',o['message']))    
        try:
            cur.execute(o['query'])
            conn.commit()
        except psycopg2.Error as e:
            print(e)
            conn.close()
    """            
    print('load staging immigration table line 127')

    bucket = s3.Bucket(bucket_name)
    for subdir, dirs, files in os.walk(path):
        for file in files:
            full_path = os.path.join(subdir, file)
            with open(full_path, 'rb') as data:
                print('Fullpath : ',full_path)
                print(full_path[len(path)+1:])
                print(folder+'/'+full_path[len(path)+1:])
 
    for table, data in table_data.items():        
        if(data == 'ignore'):
            continue            
        
        print('Loading {} with data from {}'.format(table, data))
        copy_stmt = make_copy_statement(table, data, cur)
        print('line 165')
        try:
            print('line 167')
            cur.execute(copy_stmt)
            conn.commit()
        except psycopg2.Error as e:
            print('line 171')
            cur.execute("ROLLBACK")
            conn.commit() 
            cur.execute("SELECT * FROM STL_LOAD_ERRORS;")
            results = cur.fetchall()
            for row in results:
                print('inside for 176')
                print("   ", type(row), row)                            
                if(len(row) == 1):
                    print('{:8} {:25} - {}'.format(' ', table, row[0]))
            print(e)
            conn.close()   
            
def load_staging_tables(cur, conn, fname):
    """
    Load the data from the S3 bucket to the staging table in Redshift
  
    Parameters: 
    arg1 : cursor connection object on redshift
    arg2 : connection object on the redshift
  
    Returns: 
    None
    """    

    """
    print('\r{:5}* {}'.format('',schema_queries[2]['message']))    
    cur.execute(schema_queries[2]['query'])
    
    for o in copy_table_queries:
        print('\r{:5}* {}'.format('',o['message']))    
        try:
            cur.execute(o['query'])
            conn.commit()
        except psycopg2.Error as e:
            print(e)
            conn.close()
    """            
    print('load staging tables line 127')
    table_data = json.load(open(fname))
    for table, data in table_data.items():        
        if(data == 'ignore'):
            continue            
        
        print('Loading {} with data from {}'.format(table, data))
        copy_stmt = make_copy_statement(table, data, cur)
        print('line 148')
        try:
            print('line 150')
            cur.execute(copy_stmt)
            conn.commit()
        except psycopg2.Error as e:
            print('line 152')
            cur.execute("ROLLBACK")
            conn.commit() 
            cur.execute("SELECT * FROM STL_LOAD_ERRORS;")
            results = cur.fetchall()
            for row in results:
                print('inside for 160')
                print("   ", type(row), row)                            
                if(len(row) == 1):
                    print('{:8} {:25} - {}'.format(' ', table, row[0]))
            print(e)
            conn.close()        
    
def insert_tables(cur, conn):
    """
    Insert data from the staging table to the dimension and fact table
    :param cur: cursor connexion object on redshift
    :param conn: connection object on the redshift
    """
    print('insert tables line 152')
   
    for o in insert_table_queries:
        print('inside for insert line 273')
        print(o['message'])
        print(o['query'])
        print('query')
        try:
            cur.execute(o['query'])
            print('line 278')
            conn.commit()
        except psycopg2.Error as e:
            print(e)
            conn.close()

def count_rows(cur, conn):
    """
    Get the number of rows stored into each table
  
    Parameters: 
    arg1 : cursor connection object on redshift
    arg2 : connection object on the redshift
  
    Returns: 
    None
    """    
    print('line 328')
    print('\r{:5}* {}'.format('',schema_queries[2]['message']))    
    cur.execute(schema_queries[2]['query'])
    
    for o in count_rows_queries:
        print('\r{:5}* {}'.format('',o['message']))    
        cur.execute(o['query'])
        print('query')
        #results = cur.fetchone()
        results = cur.fetchall()

        for row in results:
            if(len(row) == 1):
                print('{:8} {}'.format(' ', row[0]))
                print('line 342')
            else:
                print('{:8} {} - {}'.format(' ', row[0], row[1]))
                print('line 345')
            #print("   ", type(row), row)

def count_rows_staging(cur, conn, fname):
    """
    Get the number of rows stored into each table
  
    Parameters: 
    arg1 : cursor connection object on redshift
    arg2 : connection object on the redshift
  
    Returns: 
    None
    """    
    print('line 359')
    
    table_data = json.load(open(fname))
    for table, data in table_data.items():
        print('line 365')
        sql_stmt = 'SELECT COUNT(*) FROM {}'.format(table)
        try:
            cur.execute(sql_stmt)
            results = cur.fetchall()
            print('line 371')
            for row in results:
                #print("   ", type(row), row)                            
                if(len(row) == 1):
                    print('{:8} {:25} - {}'.format(' ', table, row[0]))
                    print('line376')
        except psycopg2.Error as e:
            print(e)
            conn.close()        
                        
def main():
    config = configparser.ConfigParser()
    #config.read('config.cfg')

    # Upload cleaned files to s3    
    config = configparser.ConfigParser()
    config.read('config.cfg')

    os.environ['AWS_ACCESS_KEY_ID'] = config['AWS']['KEY']
    os.environ['AWS_SECRET_ACCESS_KEY'] = config['AWS']['SECRET']
    
    #print('LOG_LOCAL_DATA = ',LOG_LOCAL_DATA)
    #print('SONG_LOCAL_DATA = ',SONG_LOCAL_DATA)
    print('Bucket = ','BUCKET')
    print( *config['CLUSTER'].values() )

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()        
        
    print('1. Loading Staging tables')
    fname = './data/staging-table-data-Copy1.txt'
    load_staging_tables(cur, conn,  fname)
    
    print('2. Insert into Fact & Dimension tables')
    insert_tables(cur, conn)

    print('3. Count Rows')
    count_rows_staging(cur, conn, fname)    
    
    conn.close()
    print('Done!')
    

if __name__ == "__main__":
    main()

Bucket =  BUCKET
redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com dev awsuser Globalstar1 5439 redshift-cluster-25 multi-node 2 dc2.large myRedshiftRole25
1. Loading Staging tables
load staging tables line 127
Loading staging_immigration with data from 's3://calamaribucket-capstone/outputs/immigration_dfs1.csv'
line 148
line 150
Loading staging_airport_codes with data from 's3://calamaribucket-capstone/outputs/airport_codes_df1.csv'
line 148
line 150
Loading staging_PoE with data from 's3://calamaribucket-capstone/outputs/PoE_df1.csv'
line 148
line 150
Loading staging_demog with data from 's3://calamaribucket-capstone/outputs/demog_df.csv'
line 148
line 150
Loading staging_race with data from 's3://calamaribucket-capstone/outputs/race_df.csv'
line 148
line 150
Loading staging_worldtemp with data from 's3://calamaribucket-capstone/outputs/worldtemp_df1.csv'
line 148
line 150
2. Insert into Fact & Dimension tables
insert tables line 152
inside for insert line 273
INSERT INTO dim_airport_codes TABLE

        insert into dim_airport_codes(type, name, elevation_ft, iso_country, iso_region, municipality, iata_code, local_code, coordinates, longitude, latitude, state)
        select distinct  type, name, elevation_ft, iso_country, iso_region, municipality, iata_code, local_code, coordinates, longitude, latitude, state
        from staging_airport_codes ;

query
line 278
inside for insert line 273
INSERT INTO dim_PoE TABLE

        insert into dim_PoE(code, citystate, city, state)
        select distinct  code, citystate, city, state
        from staging_PoE ;

query
line 278
inside for insert line 273
INSERT INTO dim_demog TABLE

        insert into dim_demog(State, City, Median_Age, State_Code, Male_Population, Female_Population, Total_Population, Number_of_Veterans, Foreign_born)
        select distinct  State, City, Median_Age, State_Code, Male_Population, Female_Population, Total_Population, Number_of_Veterans, Foreign_born
        from staging_demog ;

query
line 278
inside for insert line 273
INSERT INTO dim_race TABLE

        insert into dim_race(State, City, American_Indian_and_Alaska_Native, Asian, Black_or_African_American, Hispanic_or_Latino, White)
        select distinct  State, City, American_Indian_and_Alaska_Native, Asian, Black_or_African_American, Hispanic_or_Latino, White
        from staging_race ;

query
line 278
inside for insert line 273
INSERT INTO dim_worldtemp TABLE

        insert into dim_worldtemp(dt, AverageTemperature, City, Country)
        select distinct  dt, AverageTemperature, City, Country
        from staging_worldtemp ;

query
line 278
inside for insert line 273
INSERT INTO fact_immigration TABLE

        insert into fact_immigration(CoC, CoR, PoE, arrival_state, age, biryear, gender, airline, admnum, fltno, visatype, arrival_mode, visit_purpose, arrival_dt, departure_dt)
        select distinct  CoC, CoR, PoE, arrival_state, age, biryear, gender, airline, admnum, fltno, visatype, arrival_mode, visit_purpose, arrival_dt, departure_dt
        from staging_immigration ;

query
line 278
3. Count Rows
line 359
line 365
line 371
         staging_immigration       - 1584
line376
line 365
line 371
         staging_airport_codes     - 3730
line376
line 365
line 371
         staging_PoE               - 1018
line376
line 365
line 371
         staging_demog             - 1192
line376
line 365
line 371
         staging_race              - 1192
line376
line 365
line 371
         staging_worldtemp         - 1279298
line376
Done!

In [7]:
%load_ext sql

In [8]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://awsuser:Globalstar1@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

***Test Connection***

In [9]:
%sql select * from dim_airport_codes limit 5;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('small_airport', 'Ocean Reef Club Airport', Decimal('8.00000'), 'US', 'US-FL', 'Key Largo', 'OCA', '07FA', '-80.274803161621, 25.325399398804', '-80.274803161621', '25.325399398804', 'FL'),
 ('small_airport', 'Metropolitan Airport', Decimal('418.00000'), 'US', 'US-MA', 'Palmer', 'PMX', '13MA', '-72.31140136719999, 42.223300933800004', '-72.31140136719999', '42.223300933800004', 'MA'),
 ('small_airport', 'Dunsmuir Muni-Mott Airport', Decimal('3258.00000'), 'US', 'US-CA', 'Dunsmuir', 'MHS', '1O6', '-122.272003, 41.263199', '-122.272003', '41.263199', 'CA'),
 ('small_airport', 'Ed-Air Airport', Decimal('426.00000'), 'US', 'US-IN', 'Oaktown', 'OTN', 'I20', '-87.4997024536, 38.851398468', '-87.4997024536', '38.851398468', 'IN'),
 ('small_airport', 'Drift River Airport', Decimal('30.00000'), 'US', 'US-AK', 'Kenai', 'DRF', '3AK5', '-152.162002563, 60.588901519800004', '-152.162002563', '60.588901519800004', 'AK')]

In [10]:
%sql select * from dim_PoE limit 5;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('ALC', 'ALCAN, AK', 'ALCAN', 'AK'),
 ('PIZ', 'DEW STATION PT LAY DEW, AK', 'DEW STATION PT LAY DEW', 'AK'),
 ('HOM', 'HOMER, AK', 'HOMER', 'AK'),
 ('KET', 'KETCHIKAN, AK', 'KETCHIKAN', 'AK'),
 ('PKC', 'POKER CREEK, AK', 'POKER CREEK', 'AK')]

In [11]:
%sql select * from dim_demog limit 5;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('Maryland', 'Silver Spring', Decimal('33.80000'), 'MD', 40601, 41862, 82463, 1562, 30908),
 ('New Jersey', 'Newark', Decimal('34.60000'), 'NJ', 138040, 143873, 281913, 5829, 86253),
 ('Missouri', "O'Fallon", Decimal('36.00000'), 'MO', 41762, 43270, 85032, 5783, 3269),
 ('Kansas', 'Wichita', Decimal('34.60000'), 'KS', 192354, 197601, 389955, 23978, 40270),
 ('California', 'Berkeley', Decimal('32.50000'), 'CA', 60142, 60829, 120971, 3736, 25000)]

In [12]:
%sql select * from dim_race limit 5;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('Alabama', 'Dothan', 656, 1175, 23243, 1704, 43516),
 ('Alabama', 'Montgomery', 1277, 6518, 121360, 6648, 73545),
 ('Arizona', 'Casas Adobes', 2047, 3009, 1854, 13609, 58956),
 ('Arizona', 'Glendale', 4064, 15245, 16254, 83711, 202539),
 ('Arizona', 'Phoenix', 41748, 66403, 132939, 669914, 1161455)]

In [13]:
%sql select * from dim_worldtemp limit 5;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(1824, 2, 1, 0, 0), Decimal('6.87700'), 'Abilene', 'United States'),
 (datetime.datetime(1829, 2, 1, 0, 0), Decimal('5.34000'), 'Abilene', 'United States'),
 (datetime.datetime(1831, 6, 1, 0, 0), Decimal('25.83600'), 'Abilene', 'United States'),
 (datetime.datetime(1835, 11, 1, 0, 0), Decimal('7.73200'), 'Abilene', 'United States'),
 (datetime.datetime(1841, 7, 1, 0, 0), Decimal('28.72800'), 'Abilene', 'United States')]

In [14]:
%sql select * from fact_immigration limit 5;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('297', '297', 'LOS', 'CA', '25', '1991', 'M', 'QR', '94789696030', '00739', 'B2', 'Air', 'Pleasure', datetime.datetime(2016, 4, 28, 0, 0), datetime.datetime(2016, 5, 7, 0, 0)),
 ('113', '135', 'NYC', 'NY', '33', '1983', 'F', 'BA', '55474485033', '00117', 'WT', 'Air', 'Pleasure', datetime.datetime(2016, 4, 2, 0, 0), datetime.datetime(2016, 4, 10, 0, 0)),
 ('260', '260', 'LOS', 'CA', '62', '1954', 'F', 'EK', '94612771030', '00215', 'B2', 'Air', 'Pleasure', datetime.datetime(2016, 4, 26, 0, 0), datetime.datetime(2016, 5, 7, 0, 0)),
 ('746', '158', 'SEA', 'NV', '46', '1970', 'M', 'DL', '94435600530', '00143', 'B2', 'Air', 'Pleasure', datetime.datetime(2016, 4, 24, 0, 0), datetime.datetime(2016, 4, 27, 0, 0)),
 ('268', '268', 'SFR', 'TX', '33', '1983', 'F', 'UA', '55530529133', '00872', 'WT', 'Air', 'Pleasure', datetime.datetime(2016, 4, 3, 0, 0), datetime.datetime(2016, 6, 5, 0, 0))]

In [15]:
%sql select * from fact_immigration where coc = 209 limit 10;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('209', '209', 'FTL', 'CA', '60', '1956', 'M', 'JL', '56083095933', '00066', 'WT', 'Air', 'Pleasure', datetime.datetime(2016, 4, 13, 0, 0), datetime.datetime(2016, 4, 16, 0, 0)),
 ('209', '209', 'SPM', 'CA', '50', '1966', 'M', 'UA', '56248873133', '00034', 'WB', 'Air', 'Business', datetime.datetime(2016, 4, 16, 0, 0), datetime.datetime(2016, 4, 22, 0, 0)),
 ('209', '209', 'MIL', 'CA', '41', '1975', 'M', 'NH', '55701765233', '00008', 'WT', 'Air', 'Pleasure', datetime.datetime(2016, 4, 6, 0, 0), datetime.datetime(2016, 4, 9, 0, 0)),
 ('209', '209', 'TAM', 'TX', '39', '1977', 'M', None, '56298136733', 'LAND', 'WT', 'Land', 'Pleasure', datetime.datetime(2016, 4, 17, 0, 0), datetime.datetime(2016, 4, 18, 0, 0)),
 ('209', '209', 'HHW', 'HI', '46', '1970', 'F', 'NH', '55809818233', '00184', 'WT', 'Air', 'Pleasure', datetime.datetime(2016, 4, 8, 0, 0), datetime.datetime(2016, 4, 12, 0, 0)),
 ('209', '209', 'NYC', 'NY', '60', '1956', 'F', 'NH', '55615690233', '00104', 'WT', 'Air', 'Pleasure', datetime.datetime(2016, 4, 4, 0, 0), datetime.datetime(2016, 4, 8, 0, 0)),
 ('209', '209', 'DET', 'HI', '66', '1950', 'F', 'JL', '55705934233', '00786', 'WT', 'Air', 'Pleasure', datetime.datetime(2016, 4, 6, 0, 0), datetime.datetime(2016, 4, 14, 0, 0)),
 ('209', '209', 'HHW', 'HI', '73', '1943', 'M', 'HA', '59087676133', '00458', 'WT', 'Air', 'Pleasure', datetime.datetime(2016, 4, 22, 0, 0), datetime.datetime(2016, 4, 25, 0, 0)),
 ('209', '209', 'HHW', 'HI', '52', '1964', 'F', 'DL', '59233461033', '00598', 'WT', 'Air', 'Pleasure', datetime.datetime(2016, 4, 25, 0, 0), datetime.datetime(2016, 4, 30, 0, 0)),
 ('209', '209', 'PSP', 'GU', '31', '1985', 'F', 'TW', '56283621233', '00311', 'WT', 'Air', 'Pleasure', datetime.datetime(2016, 4, 17, 0, 0), datetime.datetime(2016, 4, 19, 0, 0))]

In [16]:
%sql select visit_purpose, count(*) from fact_immigration group by visit_purpose order by 2 desc limit 10 ;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[('Pleasure', 1338), ('Business', 230), ('Student', 16)]

In [17]:
%sql select poe, visit_purpose, cast(age as INTEGER) from fact_immigration where poe in ('LOS', 'HHW', 'CHI', 'DAL', 'BOS', 'AGA', 'SAI') limit 10;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('LOS', 'Pleasure', 25),
 ('LOS', 'Pleasure', 62),
 ('BOS', 'Pleasure', 18),
 ('DAL', 'Pleasure', 42),
 ('LOS', 'Pleasure', 29),
 ('LOS', 'Pleasure', 48),
 ('LOS', 'Pleasure', 60),
 ('LOS', 'Pleasure', 42),
 ('HHW', 'Pleasure', 55),
 ('LOS', 'Business', 31)]

In [18]:
%sql select poe, visit_purpose, cast(age as INTEGER) from fact_immigration a inner join dim_PoE b on a.poe = b.code where poe in ('LOS', 'HHW', 'CHI', 'DAL', 'BOS', 'AGA', 'SAI') group by a.age, a.poe, a.visit_purpose order by 1, 2, 3 desc limit 10 ;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('AGA', 'Pleasure', 56),
 ('AGA', 'Pleasure', 42),
 ('AGA', 'Pleasure', 38),
 ('BOS', 'Business', 47),
 ('BOS', 'Business', 42),
 ('BOS', 'Pleasure', 78),
 ('BOS', 'Pleasure', 51),
 ('BOS', 'Pleasure', 43),
 ('BOS', 'Pleasure', 41),
 ('BOS', 'Pleasure', 37)]

In [19]:
%sql select * from dim_race limit 5;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('Alabama', 'Dothan', 656, 1175, 23243, 1704, 43516),
 ('Alabama', 'Montgomery', 1277, 6518, 121360, 6648, 73545),
 ('Arizona', 'Casas Adobes', 2047, 3009, 1854, 13609, 58956),
 ('Arizona', 'Glendale', 4064, 15245, 16254, 83711, 202539),
 ('Arizona', 'Phoenix', 41748, 66403, 132939, 669914, 1161455)]

In [20]:
%sql select state, american_indian_and_alaska_native, asian, black_or_african_american, hispanic_or_latino, white from dim_race group by american_indian_and_alaska_native, asian, black_or_african_american, hispanic_or_latino, white, state order by state desc limit 10 ;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('Wisconsin', 835, 5561, 3407, 5139, 64674),
 ('Wisconsin', 6547, 5652, 7561, 16786, 82033),
 ('Wisconsin', 10813, 24832, 248149, 110335, 297038),
 ('Wisconsin', 2296, 23937, 20424, 19697, 204302),
 ('Wisconsin', 1264, 2537, 11915, 18772, 84780),
 ('Wisconsin', 481, 2904, 1923, 9713, 66757),
 ('Wisconsin', 237, 3182, 2778, 1972, 60210),
 ('Wisconsin', 1371, 1175, 20014, 18215, 52445),
 ('Wisconsin', 876, 4202, 725, 1488, 62194),
 ('Washington', 4541, 10882, 7520, 23184, 149863)]

In [21]:
%sql select a.poe, cast(age as INTEGER) age from fact_immigration a inner join dim_PoE b on a.poe = b.code group by a.age, a.poe order by 1, 2 limit 10;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('AGA', 38),
 ('AGA', 42),
 ('AGA', 56),
 ('ATL', 15),
 ('ATL', 18),
 ('ATL', 32),
 ('ATL', 35),
 ('ATL', 36),
 ('ATL', 38),
 ('ATL', 40)]

In [22]:
%sql select a.arrival_state, count(*) from fact_immigration a group by arrival_state order by 2 desc limit 30;

 * postgresql://awsuser:***@redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com:5439/dev
30 rows affected.

[('FL', 298),
 ('NY', 282),
 ('CA', 276),
 ('HI', 90),
 (None, 70),
 ('NV', 64),
 ('TX', 64),
 ('IL', 44),
 ('GA', 34),
 ('NJ', 32),
 ('MA', 28),
 ('WA', 28),
 ('VA', 26),
 ('DC', 22),
 ('PA', 18),
 ('LA', 16),
 ('MD', 16),
 ('MI', 16),
 ('NE', 14),
 ('NC', 14),
 ('GU', 12),
 ('TN', 12),
 ('OH', 10),
 ('AZ', 8),
 ('CO', 8),
 ('CT', 8),
 ('AL', 6),
 ('IN', 6),
 ('MN', 6),
 ('SC', 6)]

***Functions***

In [23]:
def sql_to_df(query):
    """
    Summary line. 
    Converts SQL Results to Dataframe
    
    Parameters: 
    arg1 : SQL Query
  
    Returns: 
    Dataframe with data from Redshift table
    """    
    
    for df in pd.read_sql_query( ("""{}""").format(query), conn_string, chunksize=10000000):
        pass
    return df

In [24]:
def show_svg_data(svg_data):
    """
    Summary line. 
    Display svg data
    
    Parameters: 
    arg1 : svg image
  
    Returns: None    
    """    
    
    #display(SVG(url='http://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg'))
    display(SVG(svg_data))

In [25]:
def export_legend(colors, labels, filename):
    """
    Summary line. 
    Creates legend image
    
    Parameters: 
    arg1 : colors
    arg2 : labels
    arg3 : filename
  
    Returns: None    
    """        
    f = lambda m,c: plt.plot([],[],marker=m, color=c, ls="none")[0]
    handles = [f("s", colors[i]) for i in range(len(colors))]
    
    legend = plt.legend(handles, labels, loc=1, framealpha=1, frameon=False)
    
    fig  = legend.figure
    fig.canvas.draw()
    bbox  = legend.get_window_extent().transformed(fig.dpi_scale_trans.inverted())
    fig.savefig(filename, dpi="figure", bbox_inches=bbox)
    plt.gca().set_axis_off()
    plt.show()

***Test Queries***

In [29]:
# Visit Purpose
Q1 = """
select visit_purpose, count(*)
from fact_immigration
group by visit_purpose
order by 2 desc
limit 10 ;
"""

# Visit Purpose with state
Q2 = """
select distinct arrival_state, visit_purpose, count(*)
from fact_immigration
group by arrival_state, visit_purpose
order by 2 desc ;
"""

# Top visited states
Q3 = """
select a.arrival_state, count(*)
from fact_immigration a
group by arrival_state
order by 2 desc
limit 30 ;
"""

In [30]:
# Executing the SQL Queries and storing data in separate dataframe
df1 = sql_to_df(Q1)
df2 = sql_to_df(Q2)
df3 = sql_to_df(Q3)

***Top reason US visited***

In [37]:
df1.head(10)

  visit_purpose  count
0      Pleasure   1338
1      Business    230
2       Student     16

In [39]:
df1_temp = df1.copy()

In [40]:
df1_temp = df1_temp['visit_purpose', 'count']
df1_temp.head()

KeyError: ('visit_purpose', 'count')

In [34]:
graph = df1_temp[['visit_purpose','count']].plot(x='visit_purpose',kind='bar', figsize=(15,5))
plt.xlabel('Visit Reason')
plt.title('Top reasons for visitors to US')

# Save graph 
fig = graph.get_figure()
fig.savefig('./analytics_images/Q1.png')

#df2a.columns = ['state_name', 'visitors'] # change column names
#graph = df2a[['state_name','visitors']].plot(x='state_name',kind='bar', figsize=(15,5), color='red')
#plt.xlabel('US States')
#plt.title('Most visited state in US')

## Save graph 
#fig = graph.get_figure()
#fig.savefig('./analytics_images/Q2G1.png')

TypeError: 'method' object is not subscriptable

***Age ranges, visit purpose & airport entered US***

In [35]:
df2.head(10)

  arrival_state visit_purpose  count
0            CA       Student      6
1            MA       Student      2
2            TX       Student      2
3          None       Student      2
4            WA       Student      2
5            VA       Student      2
6            MI      Pleasure      8
7            ME      Pleasure      2
8            UN      Pleasure      4
9            MA      Pleasure     22

In [58]:
df2_temp = df2.copy()
df2_temp = df2_temp['age', 'poe']
df2_temp.head()

#df2a.columns = ['state_name', 'visitors'] # change column names
#graph = df2a[['state_name','visitors']].plot(x='state_name',kind='bar', figsize=(15,5), color='red')
#plt.xlabel('US States')
#plt.title('Most visited state in US')

## Save graph 
#fig = graph.get_figure()
#fig.savefig('./analytics_images/Q2G1.png')

KeyError: ('age', 'poe')

In [ ]:
df2_temp = df2_temp['age', 'poe']
df2_temp.head()

#df2a.columns = ['state_name', 'visitors'] # change column names
#graph = df2a[['state_name','visitors']].plot(x='state_name',kind='bar', figsize=(15,5), color='red')
#plt.xlabel('US States')
#plt.title('Most visited state in US')

## Save graph 
#fig = graph.get_figure()
#fig.savefig('./analytics_images/Q2G1.png')

In [59]:
graph = df2_temp[['age','poe']].plot(x='age',kind='bar', figsize=(15,5))
plt.xlabel('Age')
plt.title('Locations visited most by what age')

# Save graph 
fig = graph.get_figure()
fig.savefig('./analytics_images/Q2G2.png')

TypeError: Empty 'DataFrame': no numeric data to plot

In [51]:
df3.head(10)

   poe visit_purpose  age  count
0  AGA      Pleasure   56      9
1  AGA      Pleasure   42      9
2  AGA      Pleasure   38      9
3  BOS      Business   47      9
4  BOS      Business   42      9
5  BOS      Pleasure   78      9
6  BOS      Pleasure   51      9
7  BOS      Pleasure   43      9
8  BOS      Pleasure   41      9
9  BOS      Pleasure   37      9

In [62]:
df3_temp = df3.copy()

KeyError: ('age', 'count')

In [ ]:
df3_temp = df3_temp['age', 'count']
df3_temp.head()

In [54]:
df3.columns = ['state', 'american_indian_and_alaska_native', 'asian', 'black_or_afrian_american', 'hispanic_or_latino', 'white']
graph = df3[['state', 'american_indian_and_alaska_native', 'asian', 'black_or_afrian_american', 'hispanic_or_latino', 'white']].plot(x='state',kind='bar', figsize=(15,), color='red')
plt.xlabel('State')
plt.title('Race breakdown by state')

# Save graph 
fig = graph.get_figure()
fig.savefig('./analytics_images/Q3G3.png')

ValueError: Length mismatch: Expected axis has 4 elements, new values have 6 elements

In [ ]:
df4.head(10)

In [ ]:
df4_temp = df4.copy()
df4_temp = df4_temp['age', 'count']
df4_temp.head()

In [ ]:
df4.columns = ['state', 'american_indian_and_alaska_native', 'asian', 'black_or_afrian_american', 'hispanic_or_latino', 'white']
graph = df3[['state', 'american_indian_and_alaska_native', 'asian', 'black_or_afrian_american', 'hispanic_or_latino', 'white']].plot(x='state',kind='bar', figsize=(15,), color='red')
plt.xlabel('State')
plt.title('Race breakdown by state')

# Save graph 
fig = graph.get_figure()
fig.savefig('./analytics_images/Q3G3.png')

In [ ]:
df5.head(10)

In [ ]:
df5.columns = ['arrival_state', 'count']
graph = df5[['arrival_state', 'count']].plot(x='arrival_state',kind='bar', figsize=(15,5), color='red')
plt.xlabel('US State')
plt.title('Most visited US state')

# Save graph
fig = graph.get_figure()
fig.savefig('./analytics_images/Q5/')

In [16]:
# Visit Purpose
Question1 = """
select visit_purpose count(*)
from fact_immigration
group by visit_purpose
order by 2 desc
limit 10 ;
"""

In [ ]:
# Age range & state
Question2 = """
select poe, visit_purpose, cast(age as INTEGER)
from fact_immigration
where poe in ('LOS', 'HHW', 'CHI', 'DAL', 'BOS', 'AGA', 'SAI') ;
"""

Question3 = """
select a.poe, a.visit_purpose, cast(a.age as INTEGER) age, count(*)
from fact_immigration a inner join dim_PoE b on a.poe = b.code
where poe in ('LOS', 'HHW', 'CHI', 'DAL', 'BOS', 'AGA', 'SAI')
group by a.age, a.poe, a.visit purpose
order by 1, 2, 3 desc ;

In [ ]:
# Top racial group in the state
Question4 = """
select distinct lpad(b.county_fips,5,'0') county_fips, american_indian_and_alaska_native, asian, black_or_african_american, hispanic_or_latino, white
from capstone.dim_usdr a inner join capstone.dim_uszips b
on a.state = b.state_name and a.city = b.city 
"""

In [ ]:
%sql select state, american_indian_and_alaska_native, asian, black_or_african_american, hispanic_or_latino, white from dim_race group by american_indian_and_alaska_native, asian, black_or_african_american, hispanic_or_latino, white, state order by state ;